.gallery img {
  width: 100%;
  padding: 14px;
  background: #fffbe6;
  border: 10px double #d4af37; /* 金のダブルボーダー */
  box-shadow:
    0 0 0 3px #bfa000,
    0 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition: 0.3s;
}
.gallery img:hover {
  border-color: #ffd700;
}
